## Electic Vehicle Data for Washington State (1997 - 2023)

In [262]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## EV Data in Washington State

In [290]:
pd.options.display.max_columns = None

ev = pd.read_csv('../Resources/Electric_Vehicle_Population_Data.csv')
print(ev.shape, '\n')
ev.info()
ev.tail()

(138779, 17)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138779 entries, 0 to 138778
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         138779 non-null  object
 1   County                                             138776 non-null  object
 2   City                                               138776 non-null  object
 3   State                                              138779 non-null  object
 4   Postal Code                                        138776 non-null  float64
 5   Model Year                                         138779 non-null  int64
 6   Make                                               138779 non-null  object
 7   Model                                              138493 non-null  object
 8   Electric Vehicle Type                              138779 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  138779 non-null  object
 10  Electric Range                                     138779 non-null  int64
 11  Base MSRP                                          138779 non-null  int64
 12  Legislative District                               138464 non-null  float64
 13  DOL Vehicle ID                                     138779 non-null  int64
 14  Vehicle Location                                   138773 non-null  object
 15  Electric Utility                                   138776 non-null  object
 16  2020 Census Tract                                  138776 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 18.0+ MB

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
138774,KNAGV4LD6L,Clark,Vancouver,WA,98686.0,2020,KIA,OPTIMA,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,28,0,17.0,122272881,POINT (-122.64839529999995 45.70104270000007),BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF C...,5.301104e+10
138775,7SAYGDEE1N,Thurston,Lacey,WA,98503.0,2022,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,22.0,187390038,POINT (-122.8285 47.03646),PUGET SOUND ENERGY INC,5.306701e+10
138776,5YJYGDEE7M,Benton,Richland,WA,99352.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,8.0,181300416,POINT (-119.29441499999996 46.27187500000008),BONNEVILLE POWER ADMINISTRATION||CITY OF RICHL...,5.300501e+10
138777,WBY33AW08P,Pierce,Tacoma,WA,98443.0,2023,BMW,I4,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,25.0,224612055,POINT (-122.36463499999996 47.19449000000003),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305394e+10
138778,JN1AZ0CP2B,King,Seattle,WA,98118.0,2011,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,73,0,37.0,246621546,POINT (-122.28338999999994 47.549285000000054),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10

## Checking for Blank Cells and Cells with 0s

In [286]:
print(f'\nCells with value = 0: {ev.isnull().values.sum()}')  # Counts the number of Null cells
print(f'\nColumns with blank cells: : {ev.columns[ev.isna().any()].tolist()}\n\n')
ev['Postal Code'] = ev['Postal Code'].fillna(0)
ev['Postal Code'] = ev['Postal Code'].astype('int64')
ev.info()

Cells with value = 0: 622

Columns with blank cells: : ['County', 'City', 'Postal Code', 'Model', 'Legislative District', 'Vehicle Location', 'Electric Utility', '2020 Census Tract']


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138779 entries, 0 to 138778
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         138779 non-null  object
 1   County                                             138776 non-null  object
 2   City                                               138776 non-null  object
 3   State                                              138779 non-null  object
 4   Postal Code                                        138779 non-null  int64
 5   Model Year                                         138779 non-null  int64
 6   Make                                               138779 non-null  object
 7   Model                                              138493 non-null  object
 8   Electric Vehicle Type                              138779 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  138779 non-null  object
 10  Electric Range                                     138779 non-null  int64
 11  Base MSRP                                          138779 non-null  int64
 12  Legislative District                               138464 non-null  float64
 13  DOL Vehicle ID                                     138779 non-null  int64
 14  Vehicle Location                                   138773 non-null  object
 15  Electric Utility                                   138776 non-null  object
 16  2020 Census Tract                                  138776 non-null  float64
dtypes: float64(2), int64(5), object(10)
memory usage: 18.0+ MB

## Filtering data for only Washington state

In [287]:
print(f'EV DataFrame, includes all States in US: (Rows, Columns) {ev.shape}\n')

# Filtering for Wahington State
ev = ev[ev['State'] == 'WA']

print(f'EV DataFrame, includes only Washington State: (Rows, Columns) {ev.shape}\n')

EV DataFrame, includes all States in US: (Rows, Columns) (138779, 17)

EV DataFrame, includes only Washington State: (Rows, Columns) (138464, 17)

## Modifying cell values and columns for analysis

In [266]:

ev['Vehicle Type'] = ev['Electric Vehicle Type'].str.extract(r'\((.*?)\)')

ev = ev.drop(['VIN (1-10)', 'Electric Vehicle Type', 'Legislative District', 'DOL Vehicle ID', 'Electric Utility', '2020 Census Tract'], axis = 1)

ev.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138464 entries, 0 to 138778
Data columns (total 12 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   County                                             138464 non-null  object
 1   City                                               138464 non-null  object
 2   State                                              138464 non-null  object
 3   Postal Code                                        138464 non-null  int64
 4   Model Year                                         138464 non-null  int64
 5   Make                                               138464 non-null  object
 6   Model                                              138178 non-null  object
 7   Clean Alternative Fuel Vehicle (CAFV) Eligibility  138464 non-null  object
 8   Electric Range                                     138464 non-null  int64
 9   Base MSRP                                          138464 non-null  int64
 10  Vehicle Location                                   138461 non-null  object
 11  Vehicle Type                                       138464 non-null  object
dtypes: int64(4), object(8)
memory usage: 13.7+ MB

In [267]:
#Clean Alternative Fuel Vehicle (CAFV) Eligibility
ev.rename({'Clean Alternative Fuel Vehicle (CAFV) Eligibility': 'CAFV Eligibility'}, axis = 1, inplace = True)

eligibility = {
    'Clean Alternative Fuel Vehicle Eligible':'Eligible',
    'Not eligible due to low battery range': 'Not eligible',
    'Eligibility unknown as battery range has not been researched': 'Unknown'
    }

ev['CAFV Eligibility'] = ev['CAFV Eligibility'].replace(eligibility)

ev['CAFV Eligibility'].tail()

138774    Not eligible
138775         Unknown
138776         Unknown
138777         Unknown
138778        Eligible
Name: CAFV Eligibility, dtype: object

## Creating a new column, 'Year_Make_Model'

In [268]:
ev['Year_Make_Model'] = ev['Model Year'].astype(str) + ' ' + ev['Make'] + ' ' + ev['Model']
#ev.head()

## Splitting column to create columns, 'Longitude', 'Latitude'

In [269]:
# Extract latitude and longitude from 'Vehicle Location' column using regex

ev['Longitude'] = ev['Vehicle Location'].str.extract(r'\((-?\d+\.\d+)\s(-?\d+\.\d+)\)')[0]
ev['Latitude'] = ev['Vehicle Location'].str.extract(r'\((-?\d+\.\d+)\s(-?\d+\.\d+)\)')[1]

# Convert 'Latitude' and 'Longitude' columns to float type
ev['Latitude'] = ev['Latitude'].astype(float)
ev['Longitude'] = ev['Longitude'].astype(float)

#Dropping column 'Vehicle Location'
ev = ev.drop(['Vehicle Location'], axis = 1)

# Printing the DataFrame with the new 'Latitude' and 'Longitude' columns
#ev[['Latitude', 'Longitude']].head()
ev.head()

,County,City,State,Postal Code,Model Year,Make,Model,CAFV Eligibility,Electric Range,Base MSRP,Vehicle Type,Year_Make_Model,Longitude,Latitude
0,Kitsap,Bremerton,WA,98310,2013,NISSAN,LEAF,Eligible,75,0,BEV,2013 NISSAN LEAF,-122.611365,47.575195
1,Kitsap,Port Orchard,WA,98366,2019,NISSAN,LEAF,Eligible,150,0,BEV,2019 NISSAN LEAF,-122.639265,47.537300
2,King,Seattle,WA,98199,2020,TESLA,MODEL X,Eligible,293,0,BEV,2020 TESLA MODEL X,-122.394185,47.639195
3,Thurston,Olympia,WA,98503,2019,JAGUAR,I-PACE,Eligible,234,0,BEV,2019 JAGUAR I-PACE,-122.828500,47.036460
4,Snohomish,Everett,WA,98204,2011,NISSAN,LEAF,Eligible,73,0,BEV,2011 NISSAN LEAF,-122.241285,47.910880

In [270]:
ev.rename({'Model Year': 'Year'}, axis = 1, inplace = True)
# Rearrange order of columns
ev = ev[['State', 'County', 'City', 'Postal Code', 'Latitude', 'Longitude',
         'Year', 'Make', 'Model', 'Vehicle Type', 'Electric Range',
         'CAFV Eligibility', 'Year_Make_Model', 'Base MSRP']]
ev.head()

,State,County,City,Postal Code,Latitude,Longitude,Year,Make,Model,Vehicle Type,Electric Range,CAFV Eligibility,Year_Make_Model,Base MSRP
0,WA,Kitsap,Bremerton,98310,47.575195,-122.611365,2013,NISSAN,LEAF,BEV,75,Eligible,2013 NISSAN LEAF,0
1,WA,Kitsap,Port Orchard,98366,47.537300,-122.639265,2019,NISSAN,LEAF,BEV,150,Eligible,2019 NISSAN LEAF,0
2,WA,King,Seattle,98199,47.639195,-122.394185,2020,TESLA,MODEL X,BEV,293,Eligible,2020 TESLA MODEL X,0
3,WA,Thurston,Olympia,98503,47.036460,-122.828500,2019,JAGUAR,I-PACE,BEV,234,Eligible,2019 JAGUAR I-PACE,0
4,WA,Snohomish,Everett,98204,47.910880,-122.241285,2011,NISSAN,LEAF,BEV,73,Eligible,2011 NISSAN LEAF,0

## Population Data in Washington State

In [291]:
pd.options.display.max_columns = None

pop = pd.read_csv('../Resources/Population Data - WA (1990 - 2023).csv')
pop.head()

,SEQUENCE,FILTER,COUNTY,JURISDICTION,POP_1990,POP_1991,POP_1992,POP_1993,POP_1994,POP_1995,POP_1996,POP_1997,POP_1998,POP_1999,POP_2000,POP_2001,POP_2002,POP_2003,POP_2004,POP_2005,POP_2006,POP_2007,POP_2008,POP_2009,POP_2010,POP_2011,POP_2012,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020,POP_2021,POP_2022,POP_2023
0,1,1,Adams,Adams County,13603.0,13823.0,14063.0,14335.0,14679.0,15030.0,15323.0,15698.0,15879.0,16151.0,16428,16699,16911,17081,17489,17643,17690,17959,18214,18421,18728,18849,19013,19172,19309,19451,19643,20068,20200,20335,20613,20900,21100,21200
1,2,2,Adams,Unincorporated Adams County,6466.0,6698.0,6776.0,7009.0,7162.0,7303.0,7530.0,7598.0,7647.0,7815.0,7905,8037,8193,8324,8451,8507,8587,8682,8742,8799,8818,8866,8925,8993,9024,9093,9205,9250,9301,9375,9472,9575,9575,9585
2,3,3,Adams,Incorporated Adams County,7137.0,7125.0,7287.0,7326.0,7517.0,7727.0,7793.0,8100.0,8232.0,8336.0,8523,8662,8718,8757,9038,9136,9103,9277,9472,9622,9910,9983,10088,10179,10285,10358,10438,10818,10899,10960,11141,11325,11525,11615
3,4,4,Adams,Hatton,71.0,80.0,81.0,82.0,83.0,84.0,93.0,94.0,96.0,97.0,98,119,97,97,97,97,96,96,96,98,101,98,101,99,93,90,87,85,82,82,79,80,80,80
4,5,4,Adams,Lind,472.0,400.0,523.0,435.0,452.0,451.0,484.0,517.0,535.0,567.0,582,582,576,574,561,556,556,550,550,550,564,562,566,571,567,565,556,556,534,535,535,535,535,535

## Eliminating unnecessary columns

In [292]:
pop = pop.drop(['SEQUENCE', 'FILTER', 'POP_1990', 'POP_1991', 'POP_1992', 'POP_1993', 'POP_1994', 'POP_1995', 'POP_1996',
                'POP_1997', 'POP_1998', 'POP_1999', 'POP_2000', 'POP_2001', 'POP_2002', 'POP_2003', 'POP_2004', 'POP_2005',
                'POP_2006', 'POP_2007', 'POP_2008', 'POP_2009', 'POP_2010', 'POP_2011', 'POP_2012', 'POP_2013', 'POP_2014',
                'POP_2015', 'POP_2016', 'POP_2017', 'POP_2018', 'POP_2019', 'POP_2020', 'POP_2021', 'POP_2022'], axis = 1)
print(pop.shape)
pop.head()

(409, 3)

  COUNTY                 JURISDICTION  POP_2023
0  Adams                 Adams County     21200
1  Adams  Unincorporated Adams County      9585
2  Adams    Incorporated Adams County     11615
3  Adams                       Hatton        80
4  Adams                         Lind       535

## Adding populations in each 'Jurisdiction' to obtain total population of a County

In [273]:
pop_county = pop.groupby('COUNTY')['POP_2023'].sum()

pop_county_df = pop_county.to_frame()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Print the entire DataFrame
#pop_county_df

## Merge EV data with County Population data

In [274]:
pop_ev = pd.merge(ev, pop_county_df, left_on=['County'], right_on=['COUNTY'], how='left')
print(pop_ev.shape)
pop_ev.head()

(138464, 15)

,State,County,City,Postal Code,Latitude,Longitude,Year,Make,Model,Vehicle Type,Electric Range,CAFV Eligibility,Year_Make_Model,Base MSRP,POP_2023
0,WA,Kitsap,Bremerton,98310,47.575195,-122.611365,2013,NISSAN,LEAF,BEV,75,Eligible,2013 NISSAN LEAF,0,666100
1,WA,Kitsap,Port Orchard,98366,47.537300,-122.639265,2019,NISSAN,LEAF,BEV,150,Eligible,2019 NISSAN LEAF,0,666100
2,WA,King,Seattle,98199,47.639195,-122.394185,2020,TESLA,MODEL X,BEV,293,Eligible,2020 TESLA MODEL X,0,6794340
3,WA,Thurston,Olympia,98503,47.036460,-122.828500,2019,JAGUAR,I-PACE,BEV,234,Eligible,2019 JAGUAR I-PACE,0,766220
4,WA,Snohomish,Everett,98204,47.910880,-122.241285,2011,NISSAN,LEAF,BEV,73,Eligible,2011 NISSAN LEAF,0,2204965

In [275]:
ev_types = pop_ev['Year_Make_Model'].value_counts()
#print(ev_types)

## EV MSRP Data for the Year 2023-2024

In [296]:
pd.options.display.max_columns = None

msrp = pd.read_csv('../Resources/US_EV_Prices.csv')

msrp.info()
msrp.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Model            217 non-null    object
 1   Base Price       205 non-null    object
 2   Dest. Charge     205 non-null    object
 3   Tax Credit       37 non-null     object
 4   Effective Price  205 non-null    object
dtypes: object(5)
memory usage: 8.6+ KB

,Model,Base Price,Dest. Charge,Tax Credit,Effective Price
0,2023 Audi e-tron GT quattro 20-inch,"$104,900","$1,495",NaN,"$106,395"
1,2023 Audi RS e-tron GT quattro 20-inch,"$143,900","$1,495",NaN,"$145,395"
2,2024 Audi Q8 e-tron 20-inch,"$74,400","$1,195",NaN,"$75,595"
3,2024 Audi Q8 e-tron Sportback (Ultra pack) 19-...,"$77,800","$1,195",NaN,"$78,995"
4,2024 Audi Q8 e-tron Sportback 20-inch,"$77,800","$1,195",NaN,"$78,995"

In [297]:
# Empty strings from the replacements are converted to NaN values: replace('', pd.NA),then to nullable integer type

msrp['Base Price'] = msrp['Base Price'].replace({'\$': '', ',': '', '\*': '', 'NaN': ''}, regex=True).replace('', pd.NA).astype('Int64')
msrp['Base Price'] = pd.to_numeric(msrp['Base Price'], errors='coerce')
msrp.dropna(subset=['Base Price'], inplace=True)

msrp.tail()

,Model,Base Price,Dest. Charge,Tax Credit,Effective Price
208,2023 Volkswagen ID.4 Pro S 20-inch,48995,"$1,295","$7,500","$42,790"
209,2023 Volkswagen ID.4 AWD Pro 19-inch,47795,"$1,295","$7,500","$41,590"
210,2023 Volkswagen ID.4 AWD Pro S 20-inch,52795,"$1,295","$7,500","$46,590"
211,2023 Volvo C40 Recharge 19-inch,55300,"$1,095",NaN,"$56,395"
212,2023 Volvo XC40 Recharge 19-inch,53550,"$1,095",NaN,"$54,645"

In [298]:

# Adding the 'Model_Group' column; first extract the first three words from 'Model' column
msrp['Model Group'] = msrp['Model'].str.split().str[:3].str.join(' ')

# average MSRP for each 'Model_Group' and appending 'Average_MSRP' column
msrp['Average MSRP'] = msrp.groupby('Model Group')['Base Price'].transform('mean').round(0)

msrp['Average MSRP'] = msrp['Average MSRP'].astype('Int64')
msrp.rename({'Model': 'Model Name'}, axis = 1, inplace = True)

msrp.tail()

,Model Name,Base Price,Dest. Charge,Tax Credit,Effective Price,Model Group,Average MSRP
208,2023 Volkswagen ID.4 Pro S 20-inch,48995,"$1,295","$7,500","$42,790",2023 Volkswagen ID.4,46095
209,2023 Volkswagen ID.4 AWD Pro 19-inch,47795,"$1,295","$7,500","$41,590",2023 Volkswagen ID.4,46095
210,2023 Volkswagen ID.4 AWD Pro S 20-inch,52795,"$1,295","$7,500","$46,590",2023 Volkswagen ID.4,46095
211,2023 Volvo C40 Recharge 19-inch,55300,"$1,095",NaN,"$56,395",2023 Volvo C40,55300
212,2023 Volvo XC40 Recharge 19-inch,53550,"$1,095",NaN,"$54,645",2023 Volvo XC40,53550

## Merge EV + County Population data with MSRP data

In [299]:
# Convert to lowercase and remove whitespaces
pop_ev['Year_Make_Model'] = pop_ev['Year_Make_Model'].str.lower().str.strip()
msrp['Model Group'] = msrp['Model Group'].str.lower().str.strip()

# Fill NaN values in 'Model Group' column with empty strings
msrp['Model Group'].fillna('', inplace=True)

# Merge 'pop_ev' and 'msrp' DataFrames on 'Year_Make_Model'
pop_ev_msrp = pop_ev.merge(msrp, left_on='Year_Make_Model', right_on='Model Group', how='left')

# Replace 'NA' values in 'Base MSRP' column with 'Average MSRP' values
pop_ev_msrp['Base MSRP'] = pop_ev_msrp['Base MSRP'].combine_first(pop_ev_msrp['Average MSRP'])

# Drop unnecessary columns and reset index
pop_ev_msrp.drop(['Model Group', 'Base Price', 'Dest. Charge', 'Tax Credit', 'Effective Price'], axis=1, inplace=True)
pop_ev_msrp.reset_index(drop=True, inplace=True)

# Convert 'Average MSRP' to integers
pop_ev_msrp['Average MSRP'] = pop_ev_msrp['Average MSRP'].astype('Int64')

print(pop_ev_msrp.size)
pop_ev_msrp.head()

2773295

,State,County,City,Postal Code,Latitude,Longitude,Year,Make,Model,Vehicle Type,Electric Range,CAFV Eligibility,Year_Make_Model,Base MSRP,POP_2023,Model Name,Average MSRP
0,WA,Kitsap,Bremerton,98310,47.575195,-122.611365,2013,NISSAN,LEAF,BEV,75,Eligible,2013 nissan leaf,0,666100,NaN,<NA>
1,WA,Kitsap,Port Orchard,98366,47.537300,-122.639265,2019,NISSAN,LEAF,BEV,150,Eligible,2019 nissan leaf,0,666100,NaN,<NA>
2,WA,King,Seattle,98199,47.639195,-122.394185,2020,TESLA,MODEL X,BEV,293,Eligible,2020 tesla model x,0,6794340,NaN,<NA>
3,WA,Thurston,Olympia,98503,47.036460,-122.828500,2019,JAGUAR,I-PACE,BEV,234,Eligible,2019 jaguar i-pace,0,766220,NaN,<NA>
4,WA,Snohomish,Everett,98204,47.910880,-122.241285,2011,NISSAN,LEAF,BEV,73,Eligible,2011 nissan leaf,0,2204965,NaN,<NA>

In [283]:
#pop_ev_msrp['Base MSRP'] = pop_ev_msrp['Base MSRP'].replace(0, pop_ev_msrp['Average MSRP'])
pop_ev_msrp['Base MSRP'] = pop_ev_msrp['Base MSRP'].mask(pop_ev_msrp['Base MSRP'] == 0, pop_ev_msrp['Average MSRP'])

# Drop redundant columns
pop_ev_msrp = pop_ev_msrp.drop(['Model Name', 'Average MSRP'], axis = 1)
print(pop_ev_msrp.shape)

pop_ev_msrp.tail()

(163135, 15)

,State,County,City,Postal Code,Latitude,Longitude,Year,Make,Model,Vehicle Type,Electric Range,CAFV Eligibility,Year_Make_Model,Base MSRP,POP_2023
163130,WA,Pierce,Tacoma,98443,47.194490,-122.364635,2023,BMW,I4,BEV,0,Unknown,2023 bmw i4,59883,2392750
163131,WA,Pierce,Tacoma,98443,47.194490,-122.364635,2023,BMW,I4,BEV,0,Unknown,2023 bmw i4,59883,2392750
163132,WA,Pierce,Tacoma,98443,47.194490,-122.364635,2023,BMW,I4,BEV,0,Unknown,2023 bmw i4,59883,2392750
163133,WA,Pierce,Tacoma,98443,47.194490,-122.364635,2023,BMW,I4,BEV,0,Unknown,2023 bmw i4,59883,2392750
163134,WA,King,Seattle,98118,47.549285,-122.283390,2011,NISSAN,LEAF,BEV,73,Eligible,2011 nissan leaf,<NA>,6794340

## Save EV, Population By County, Base MSRP Combined Data as
##  pop_ev_msrp.csv

In [300]:
#Save as csv file
pop_ev_msrp.reset_index(drop = True, inplace = True)

pop_ev_msrp.to_csv('../Output_data/pop_ev_msrp.csv', index = False)